<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Infamist</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style></style>
  </head>
  <body id="b-t">

    <!-- top left "Top List" should have the top 10 most popular list items with their associated .gifs -->
    <div class="container text-center">
      <div id="lets-test" class="row">
        <div id="home-banner" class="col-lg-8 well">
          <div id="home-banner-title" class="well">
            <h3>
              <b>Top List Items</b>
            </h3>
          </div>
          <%for i in 0..9%>
            <p>
              <b><%=i+1%>.
                <%= @scoreboard[i][0].name.capitalize%></b>
            </p>
            <p>Score:
              <%= @scoreboard[i][1].round(1)%></p>
            <div id="home-banner" class="thumbnail">
              <p><img id="myImage" src=<%=@scoreboard[i][0].img_url%> alt="Gif of <%=@scoreboard[i][0].name%>"><br><br></p>
            </div>
          <%end%>
        </div>

        <!-- This should be a feed of the most recent list items -->
        <div id="small-div" class="container text-center">
          <div id="home-banner" class="row">
            <div class="col-sm-4">
              <div class="well">
                <div id="home-banner-title" class="well">
                <h3>
                  <b>Honorable Mentions</b>
                </h3>
              </div>

                  <% @items.each do |item| %>

                    <% if item.id > (@items.last.id - 15) %>
                      <div class="thumbnail">
                        <img id="prof_images" src=<%=item.img_url%>
                      </div>
                      </div>
                    <%end%>
                  <%end%>
                </div>
                </div>
                </div>




  </body>
</html>
