<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
  </style>
</head>
<body>

<!-- top left "Top List" should have the top 10 most popular list items with their associated .gifs -->
<div class="container text-center">
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well">
        <h4><b>Top List Items</b></h4>
      </div>
      <div class="well">
        <%for i in 0..9%>
          <b><p><%=i+1%>. <%= @scoreboard[i][0].name%></p></b>
          <p>Reason</p>
          <p>Score: <%= @scoreboard[i][1].round(1)%></p>
          <div class="well">
            <p><img src=<%=@scoreboard[i][0].img_url%> alt="Gif of <%=@scoreboard[i][0].name%>"><br><br></p>
          </div>
        <%end%>
      </div>
    </div>

<!-- This should be a feed of the most recent list items -->
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Some infamist user</p>
           <img src="bird.jpg" class="img-circle" height="55" width="55" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Wow! I'm on the Infamist homepage!</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Bo</p>
           <img src="bandmember.jpg" class="img-circle" height="55" width="55" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Wow! I'm on the Infamist homepage!</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Some infamist user</p>
           <img src="bandmember.jpg" class="img-circle" height="55" width="55" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Wow! I'm on the Infamist homepage!</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Some infamist user</p>
           <img src="bird.jpg" class="img-circle" height="55" width="55" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Wow! I'm on the Infamist homepage!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2 well">
      <div class="thumbnail">
        <p><strong>Good Item</strong></p>
        <p>I am the only good item here!</p>
      </div>

    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <b><p>Infamist</p></b>
</footer>

</body>
</html>
