<% if @user.list.items.size >= 10 %>

  <!-- This is the title of the page// identifies the owner of the list -->
  <p>
    <strong>Name:</strong>
    <%= @user.user_name %>
  </p>

  <!-- This displays the list-->
  <p>
    <ol>
      <!-- This identifies all of the items within the users list, and iterates in order-->
      <!-- [[<*item object*>, "I hate these things"], [<* item object 2 *>, "also smelly"]]-->
    <% @user.list.items_in_order.each_with_index  do |item, index| %>
    <li>
      <strong>
        <!-- This displays name from item object-->
        <h3><%= item[0].name%></h3>
      </strong>
      <%= item[1]%><br>
      <label> Replace this item: </label>
      <%= form_for @list_item do |f|%>
        <%= f.collection_select :item_id, @items, :id, :name, {:prompt => 'Select item'}%>
        <%= link_to "Create new item", new_item_path%>
        <br>
        <%= f.label :reason %>
        <%= f.text_field :reason %>
        <%= f.submit "Confirm" %>
        <%= f.hidden_field :list_id %>
        <%= hidden_field_tag "list_item[rank]", index + 1 %>
      <% end %>
      <img src=<%=item[0].img_url%> alt="Gif of <%=item[0].name%>">
    </li>
    <%end%>
      </ol>
  </p>

<% else %>

  <p>
    <ol>
      <!-- This identifies all of the items within the users list, and iterates in order-->
      <!-- [[<*item object*>, "I hate these things"], [<* item object 2 *>, "also smelly"]]-->
    <% @user.list.items_in_order.each_with_index  do |item, index| %>
    <li>
      <strong>
        <!-- This displays name from item object-->
        <h3><%= item[0].name%></h3>
      </strong>
      <%= item[1]%><br><br>
      <label> Replace this item: </label>
      <%= form_for @list_item do |f|%>
        <%= f.collection_select :item_id, @items, :id, :name, {:prompt => 'Select item'}%><br>
        <%= f.label :reason %>
        <%= f.text_field :reason %>
        <%= f.submit "Confirm" %>
        <%= f.hidden_field :list_id %>
        <%= hidden_field_tag "list_item[rank]", index + 1 %>

      <% end %>

      <img id="prof_images" src=<%=item[0].img_url%> alt="Gif of <%=item[0].name%>">
    </li>
  <%end%>
      </ol>
  </p>
  <label> Select or add new item to list: </label>
  <%= form_for @list_item do |f|%>
    <%= f.collection_select :item_id, @items, :id, :name, {:prompt => 'Select item'} %> - OR -
    <%= link_to "Create new item", new_item_path%><br>
    <%= f.label :reason %>
    <%= f.text_field :reason %><br>
    <%= f.submit "Add to list" %>
    <%= f.hidden_field :list_id %>
    <%= hidden_field_tag "list_item[rank]", @user.list.items.size + 1 %>

  <% end %>


<% end %>
<br>
<%= link_to 'Done editing', user_path(@user) %>
