<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.email %>
</p>

<p>
  <ol>
  <% @user.list.items_in_order.each  do |item| %>
  <li>
    <strong>
      <h3><%= item[0].name%></h3>
    </strong>
    <%= item[1]%><br><br>
    <img src=<%=item[0].img_url%> alt="Gif of <%=item[0].name%>">
  </li>
  <%end%>
    </ol>
</p>




<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', users_path %>
