<!DOCTYPE html>
<html lang="en" dir="ltr">
<p id="notice"><%= notice %></p>
  <body>

    <h2 id="item_name"><%= @user.user_name.capitalize %>'s list</h2>

    <!-- This displays the list-->
      <div class="container">
        <div class="row">
            <div  id="home-banner-title" class="well">
              <% @user.list.items_in_order.each  do |item| %>
                <div class="thumbnail">
                  <p id="item_name"><%=item[0].name%></p> <br>
                  <img id="prof_images" src=<%=item[0].img_url%>>
                </div>
              <%end%>
          </div>
    <div class = "container-fluid text-center" id="instruct"><%= link_to 'Edit this list', edit_user_path(current_user) %></div>


  </body>
</html>




<!-- This is the title of the page// identifies the owner of the list -->
