<p id="notice"><%= notice %></p>


<!-- This is the title of the page// identifies the owner of the list -->
<p>
  <strong>Name:</strong>
  <%= @user.user_name %>
</p>

<!-- This displays the list-->
<p>
  <ol>
    <!-- This identifies all of the items within the users list, and iterates in order-->
    <!-- [[<*item object*>, "I hate these things"], [<* item object 2 *>, "also smelly"]]-->
  <% @user.list.items_in_order.each  do |item| %>
  <li>
    <strong>
      <!-- This displays name from item object-->
      <h3><%= item[0].name%></h3>
    </strong>
    <%= item[1]%><br><br>
    <img src=<%=item[0].img_url%> alt="Gif of <%=item[0].name%>">
  </li>
  <%end%>
    </ol>
</p>




<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
