<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

  <!--  Essential META Tags -->

  <meta property="og:title" content="European Travel Destinations">
  <meta property="og:description" content="Offering tour packages for individuals or groups.">
  <meta property="og:image" content="https://media3.giphy.com/media/14lpmVOhbPt3Z6/giphy.gif">
  <meta property="og:url" content="http://localhost:3000/users/3">
  <meta name="twitter:card" content="summary_large_image">


  <!--  Non-Essential, But Recommended -->

  <meta property="og:site_name" content="European Travel, Inc.">
  <meta name="twitter:image:alt" content="Alt text for image">


  <!--  Non-Essential, But Required for Analytics -->

  <meta property="fb:app_id" content="your_app_id" />
  <meta name="twitter:site" content="@website-username">


<style>
.shame{
  font-size:60px;
  margin-bottom: 50px;
}

.name{
  font-size:30px;
  font-weight: bold;
}
.reason{
  font-size:20px;
  font-weight: bold;
}
.img{
  margin-bottom:50px;
}
</style>
</head>
<p id="notice"><%= notice %></p>
  <body>

    <p id="item_name" class="shame"><%= @user.user_name.capitalize %>'s Wall of Shame</p>

    <!-- This displays the list-->
      <div class="container">
        <div class="row">
            <div  id="home-banner-title" class="well">
              <% @user.list.items_in_order.each_with_index  do |item, index| %>
                <div class="thumbnail">
                  <div id="item_numandname">&nbsp<%=index+1%> .
                  <p id="item_name" class="name"><%=item[0].name%></p> </div><br>
                  <p id="item_reason" class="reason"><%=item[1]%></p> <br>
                  <img class="img" id="prof_images" src=<%=item[0].img_url%>>
                </div>
              <%end%>
          </div>
    <div class = "container-fluid text-center" id="instruct"><%= link_to 'Edit your list', edit_user_path(current_user) %></div>


  </body>
</html>




<!-- This is the title of the page// identifies the owner of the list -->
