<div class="m">
<h1 class="container-fluid text-center">New Item</h1>


<%= form_tag search_item_path, method: :get, :class => "container-fluid text-center" do %>

  <%if @filter%>
    <input type="text_field" value='<%=@filter%>' name="name"/> <br />
  <%else%>
    <%= text_field_tag :name %> <br />
  <%end%>

<br>
  <%= submit_tag 'Search for gif on Giphy!' %>
<% end %>


<br /><br />
<%if @filter != nil%>
  <%= form_for @item do |f|%>
    <%@message['data'].each do |message|%>
      <label class="img-fluid" alt="Responsive image">
        &nbsp<input type="radio" name="item[img_url]" value="<%= message['images']['original']['url'] %>"/>&nbsp<img src="<%= message['images']['original']['url'] %>">
      </label> <br>
    <%end%>
    <br />
    <label>Description</label> <br />
    <input name="item[description]" type="text_area"/>
    <input type="text_field" name="item[name]" style="display:none;" value='<%=@filter%>'/>
    <br />
    <%=f.submit "make new item"%>
  <%end%>
<%end%>


<%= link_to 'Back', items_path %>
</div>
