
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
<%= @message['data'].each do |message| %>
  <img src="<%=message['images']['fixed_width']['url']%>">
<%end%>
<img src="http://i.stack.imgur.com/SBv4T.gif" title="this slowpoke moves" />
  bob
