
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
<%= @message['data'][0]['images']['fixed_width']['mp4'] %>
<img src="<%=@image%>">
<img src="http://i.stack.imgur.com/SBv4T.gif" title="this slowpoke moves" />
  bob
