<p id="notice"><%= notice %></p>

<h1>Blist Items</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blist_items.each do |blist_item| %>
      <tr>
        <td><%= link_to 'Show', blist_item %></td>
        <td><%= link_to 'Edit', edit_blist_item_path(blist_item) %></td>
        <td><%= link_to 'Destroy', blist_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blist Item', new_blist_item_path %>
