<!DOCTYPE html>
<html>
  <head>
    <title>Infamist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">

    		<div class="container">

    			<div class="navbar-header">
    				<b><%= link_to "Infamist", root_path, class: "navbar-brand" %></b>
    			</div>

    			<ul class="nav navbar-nav">
    				<% if user_signed_in? %>
    					<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
    				<% else %>
    					<li><%= link_to "Log In", new_user_session_path %></li>
    				<% end %>
    			</ul>

<!-- functional search bar-->
          <form class="navbar-form navbar-left">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Find a user">
  </div>
  <button type="submit" class="btn btn-default">Search</button>
</form>

    			<ul class="nav navbar-nav navbar-right">




    				<% if user_signed_in? %>
    					<li><%= link_to "New Item", new_item_path %></li>
              <li><%= link_to "My list", user_path(current_user) %></li>
    				<% end %>

    			</ul>

    		</div>

    	</nav>

    	<p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>



    <%= yield %>
    <footer class="container-fluid text-center">
      <b><p>Infamist</p></b>
    </footer>
  </body>
</html>
